@{
    ViewData["Title"] = "About";
}

<h2>About</h2>

<p>
    This <em>Position Database</em> is a budget forecasting tool developped by the Arts Resource Centre,
    Faculty of Arts, University of Alberta. For questions and help, please contact:
</p>

<p>
    <address>
        Arts Resource Centre<br />
        450 Arts and Convocation Hall<br />
        University of Alberta<br />
        Edmonton, Alberta <br />
        T6G 2E6 <br /><br />
        Phone: 780-492-7278 <br />
        Email: arcrcg@ualberta.ca <br />
    </address>
</p>
