@{
    ViewData["Title"] = "About";
}

<h2>Position Database</h2>

<p>
    This is a tool that may be used for budget planning and forecasting, 
    which is currently under development for the Faculty of Arts by the
    Arts Resource Centre. Please direct questions or inquiries to:
</p>

<p>
    <address>
        Arts Resource Centre<br />
        450 Arts and Convocation Hall<br />
        University of Alberta<br />
        Edmonton, Alberta <br />
        T6G 2E6 <br /><br />
        Phone: 780-492-7278 <br />
        Email: arcrcg@ualberta.ca <br />
    </address>
</p>
