
<div id="employees" class="col-sm-6">
    <h3>Employees</h3>

    <table id="peopleTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Employee Id</th>
            </tr>
        </thead>
        @*<tfoot>
            <tr>
                <th>Name</th>
                <th>Employee Id</th>
            </tr>
        </tfoot>*@
    </table>
</div>
<div class="clear"></div>
<script>
    $(function () {
        // peopleTable - initialization
        $('#peopleTable').dataTable({
            select: {
                style: 'single'
            },
            "iDisplayLength": 100,
            "sPaginationType": "full_numbers",
            processing: true,
            serverSide: true,
            info: false,
            "scrollY": "400px",
            "scrollCollapse": true,
            ajax: {
                url: '/api/People',
                type: "post",
                contentType: "application/json",
                data: function (d) {
                    // note: d is created by datatable, the structure of d is the same with DataTableParameters model above
                    //console.log(d);
                    return JSON.stringify(d);
                }
                ////DEBUG: Enable the following "success" handler to show data on the console instead of on the table.
                //, success: function (response) { console.log(response); res = response; }
            },
            "columns": [
                { "data": "name" },
                { "data": "empId" }
            ],
            rowId: "id"
        });

        // peopleTable - on selection of a row
        var peopleTable = $('#peopleTable').DataTable();
        peopleTable.on('select', function (e, dt, type, indexes) {
            if (type === 'row') {
                var id = peopleTable.rows(indexes).data().pluck('id')[0];
                // do something with the ID of the selected items
                console.log(id);
            }
        });
    });
</script>