@model PD.Models.ChartString

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ChartString</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="SpeedCode" class="control-label"></label>
                <input asp-for="SpeedCode" class="form-control" />
                <span asp-validation-for="SpeedCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComboCode" class="control-label"></label>
                <input asp-for="ComboCode" class="form-control" />
                <span asp-validation-for="ComboCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusinessUnit" class="control-label"></label>
                @Html.EditorFor(m => m.BusinessUnit)
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
