/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Filter */
.filter{
}
    .filter label{
        width:auto;
    }
    .filter div.form-group{
        float:left;
        margin: 0 5px;
    }
    .filter input[type="date"] {
        width: 175px;
    }
    .filter label.field-name {
        margin-top: 6px;
    }
    .filter input[type="checkbox"] {
        margin-top: 2px;
    }
    .filter select{
        height:34px;
    }
}

.audit-summary {
    margin-bottom:20px !important;
}

.pd-warning {
    color: #e43934;
}

div.clear{
    clear:both;
}

/*Table formatting*/
/*
.fixed_header {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_header tbody {
    display: block;
    overflow: auto;
    height: 500px;
}

.fixed_header thead tr {
    display: block;
}
    y
.fixed_header thead {
    background: black;
    color: #fff;
}

.fixed_header th, .fixed_header td {
    padding: 5px;
    text-align: left;
    border: solid 1px #808080;
    width: 200px !important;
}
    */