@page "/peoplelist"

<h3>People</h3>

@if (this.Persons == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Persons)
            {
                <tr>
                    <td>@person.FirstName</td>
                    <td>@person.LastName</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="card">
        <div class="card-header">
            <div class="float-left">Add a person</div><div class="float-right">@Message</div>
        </div>
        <div class="card-body">
            <table>
                <tbody>
                    <tr><td>First name:</td><td><input @bind="NewPerson.FirstName" /></td></tr>
                    <tr><td>Last name:</td><td><input @bind="NewPerson.LastName" /></td></tr>
                    <tr><td>Date of Birth:</td><td><input @bind="NewPerson.BirthDate" type="date"/></td></tr>
                </tbody>
            </table>
            <div class="row">
                <button class="btn btn-primary" @onclick="AddPerson">Add</button>
            </div>
        </div>
    </div>
    <div>

    </div>
}
